{% extends "base.html" %}
{% block title %}Kabinet{% endblock %}

{% block content %}
<h3 class="text-white">Xush kelibsiz, {{ session['user_name'] }}!</h3>

<a href="{{ url_for('create_resume') }}" class="btn btn-success my-3">Yangi rezyume yaratish</a>

<div class="row">
    {% for r in resumes %}
    <div class="col-md-4">
        <div class="resume-card">
            <h5>{{ r.full_name }}</h5>
            <p class="small">{{ r.profession }}</p>

            <a href="{{ url_for('view_resume', id=r.id) }}" class="btn btn-primary btn-sm">Ko'rish</a>
            <a href="{{ url_for('edit_resume', id=r.id) }}" class="btn btn-warning btn-sm">Tahrirlash</a>

            <form action="{{ url_for('delete_resume', id=r.id) }}" method="POST" style="display:inline;">
                <button class="btn btn-danger btn-sm">O'chirish</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
