{% extends "base.html" %}
{% block content %}
<div class="container py-4">
    <div class="card p-4">
        <h2>{{ resume.full_name }}</h2>
        <h5>{{ resume.profession }}</h5>

        <hr>

        <p><b>Qisqacha:</b> {{ resume.about }}</p>
        <p><b>Ta'lim:</b> {{ resume.education }}</p>
        <p><b>Tajriba:</b> {{ resume.experience }}</p>
        <p><b>Ko'nikmalar:</b> {{ resume.skills }}</p>

        {% if resume.photo_path %}
            <img src="/{{ resume.photo_path }}" width="120">
        {% endif %}

        <hr>

        <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">
            Ortga
        </a>

        <a href="{{ url_for('download_resume', id=resume.id) }}" class="btn btn-primary">
            CV yuklab olish
        </a>
    </div>
</div>
{% endblock %}
